.clients__list {
  @include cardSet ();
}

.clients__item {
  @include cardSet__item ($items: 2);
  height: 92px;

  @media screen and (min-width:768px) {
    @include cardSet__item($items: 3);
  }
  
  @media screen and (min-width:1200px) {
    @include cardSet__item($items: 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: $clients__icon-cl;

  border: 1px solid $clients__icon-cl;
  border-radius: 4px;
  transition: color $main__transition,
    border $main__transition;


  &:hover,
  &:focus {
    color: $accent__cl;

    border: 1px solid $accent__cl;
  }
}

.clients__icon {
  fill: currentColor;
}