.features__list {
  @media screen and (min-width: 768px) {
    @include cardSet();
  }
}

.features__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    @include cardSet__item($items: 2);
  }

  @media screen and (min-width: 1200px) {
    @include cardSet__item($items: 4);
  }
}

.features__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background: $features__bg-cl;
  border-radius: 4px;
}

.features__name {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary__cl;

  @media screen and (max-width: 767px)  {
    text-align: center;
  }
}