.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  background-color: $backdrop-bgc;
  transition: transform $main__transition,
    opacity $main__transition,
    visibility $main__transition;
  opacity: 1;
  overflow-y: scroll;
  z-index: 4;

  @media screen and (max-width: 767px) {
    padding: 93px 15px;
  }
}

.modal {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $main__bg-cl;

  transform: scaleX(1);
  transition: transform $main__transition;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 768px) and (min-height: 609px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(1.2);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  background: $main__bg-cl;
  border: 1px solid $modal__close-btn-boreder-cl;
  border-radius: 50%;
}

.modal__close-icon {
  fill: $modal__dark-cl;
  transition: fill $main__transition;

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: $accent__cl;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;

  padding: 40px;
}

.modal-form__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: (30px / 20px);
  text-align: center;
  color: $secondary__cl;

  @media screen and (min-width: 1200px) {
    line-height: (23px / 20px);
  }
}

.modal-form__field {
  position: relative;
  margin-bottom: 10px;

  transition: border $main__transition;

  &--textarea {
    margin-bottom: 20px;
  }
}

.modal-form__lable {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: (14px / 12px);
  letter-spacing: 0.01em;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;

  border: 1px solid $modal-form-border-cl;
  border-radius: 4px;

  &:focus {
    border: 1px solid $accent__cl;
    outline: none;
  }
}

.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: $secondary__cl;

  transition: fill $main__transition;

  .modal-form__input:focus + & {
    fill: $accent__cl;
  }
}

.modal-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid $modal-form-border-cl;
  border-radius: 4px;

  &:focus {
    border: 1px solid $accent__cl;
    outline: none;
  }

  &::placeholder {
    font-size: 12px;
    line-height: (14px / 12px);
    letter-spacing: 0.01em;
    color: $modal-form-placeholder-cl;
  }
}

.modal-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-policy__lable {
  font-size: 12px;
  line-height: (14px / 12px);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: (24px / 14px);
  }
}

.modal-policy__link {
  color: $accent__cl;
}

.modal-policy__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  margin-right: 8px;
  
  @media screen and (min-width: 1200px) {
    margin-right: 7px;
  }
}

.modal-policy__icon {
  order: -1;

  min-width: 16px;
  margin-right: 8px;

  border: 1px solid $modal__dark-cl;
  border-radius: 2px;
  box-shadow: 0px 4px 4px $modal-checkbox-bsh;

  .modal-policy__checkbox:checked + & {
    background-color: $accent__cl;
    border: 1px solid $accent__cl;
    box-shadow: none;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 7px;
  }
}

.modal__submit-btn {
  padding: 10px 55px 10px 56px;
  margin: 30px auto 0;

  font-weight: 700;
  font-size: 16px;
  line-height: (30px / 16px);
  letter-spacing: 0.06em;
  color: $main__bg-cl;

  background-color: $accent__cl;
  box-shadow: 0px 4px 4px $modal__btn-dsh;
  border-radius: 4px;
  border-width: 0px;
  transition: background-color $main__transition;

  &:hover {
    background-color: $modal__btn-cl;
  }
}