.page-header {
  position: relative;

  border-bottom: 1px solid $header__border-cl;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  min-height: 60px;
}

.menu-container {
  background-color: $main__bg-cl;

  @media screen and (max-width: 767px) {
    display: none;
   
    &.is-open {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 48px 40px;
      overflow-y: scroll;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.menu-btn {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;

  z-index: 3;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open:hover .icon-cross,
  &.is-open:focus .icon-cross {
    fill: $accent__cl;
  }

  &.is-open .icon-menu {
    display: none;
  }

  @media screen and (max-width: 767px) {
    &.is-open {
      position: fixed;
      top: 10px;
      right: 15px;
      z-index: 10;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.site-nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-nav__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: (47px / 40px);
  letter-spacing: 0.02em;
  color: $secondary__cl;

  transition: color $main__transition;

  &:hover,
  &:focus,
  &--current {
  color: $accent__cl;
}

  @media screen and (min-width: 768px) {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: (16px / 14px);

    &--current:after {
      content: '';
      position: absolute;
      bottom: -1px;
    
      display: block;
      width: 100%;
      height: 4px;
    
      background-color: $accent__cl;
      border-radius: 2px;
    }
  } 
}

.header-contacts {
  @media screen and (max-width: 767px) {
   display: flex;
   flex-direction: column-reverse;

   margin-top: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header-contacts__item {
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-bottom: 32px;
    }
  } 

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.header-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: (28px / 24px);
  letter-spacing: 0.02em;
  color: $main__cl;

  transition: color $main__transition;

  &:hover,
  &:focus {
    color: $accent__cl;
  }

  @media screen and (max-width: 767px) {
    &--bigger {
      font-size: 34px;
      line-height: (40px / 34px);
      color: $accent__cl;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: (14px / 12px);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: (16px / 14px);
  }
}

.header-contacts__icon {
  margin-right: 8px;

  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}

.header__socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 64px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__socials-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;

    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.header__socials-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: (22px / 18px);
  letter-spacing: 0.02em;
  color: $accent__cl;
}