body {
  font-family: $main__font, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main__cl;
  background-color: $main__bg-cl;
}

body.modal-open,
body.menu-container-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:hover,
button:hover {
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: (33px / 28px);
  text-align: center;
  color: $secondary__cl;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: (42px / 36px);
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}